.footer {
	padding: 48px 0;

	color: var(--text-color);

	background-color: var(--background-color-20);

	border-top: 5px solid var(--background-color-40);
}

.footer__container {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	gap: 64px;
}

.footer__title {
	font-size: 32px;
	font-weight: 700;
	text-transform: capitalize;
}

.footer__subtitle {
	font-size: 22px;
	font-weight: 500;
	text-transform: capitalize;
}

.footer__link {
	--link-color: var(--text-color);

	font-size: 15px;
}

.footer__middle {
	display: grid;
	gap: 8px;
}

.footer__description,
.footer__authors {
	font-size: 14px;
}

.footer__right {
	display: grid;
	gap: 8px;
}

.footer__rights {
	align-self: end;

	font-size: 12px;
}

@media (width <= 800px) {
	.footer__container {
		grid-template-columns: 1fr;
		gap: 32px;

		text-align: center;
	}
}
