.header {
	background-color: var(--background-color-10);
}

.header__container {
	display: flex;
	gap: 16px;
	align-items: center;

	padding-top: 16px;
	padding-bottom: 16px;
}

.header__scheme-switcher {
	margin-left: auto;
}
