.logo {
	font-family: var(--monospace-fonts);
	font-size: 40px;
	font-weight: 700;
	line-height: 1em;
}

.logo__link {
	font-size: inherit;
	text-decoration: none;
	box-shadow: none;
}

.logo__link:focus-visible {
	color: inherit;
}
