.page {
	height: 100%;
}

.page__body {
	display: grid;
	grid-template-rows: max-content max-content 1fr max-content;

	height: 100%;

	margin: 0;

	color: var(--text-color);
	font-family: "Roboto", sans-serif;

	background-color: var(--background-color-10);
}

.page__main {
	height: max-content;
}
