.link {
	--link-color: var(--text-color);

	display: inline-block;

	color: var(--link-color);
	text-decoration: none;
	font-size: 14px;

	box-shadow: 0 4px 0 0 var(--link-color);
}

.link:hover,
.link:focus-visible {
	outline: none;
}

.link:hover {
	--link-color: var(--primary-color-100);
}

.link:focus-visible {
	--link-color: var(--primary-color-100);

	box-shadow: 0 0 0 4px var(--link-color);

	border-radius: 4px;
}
