:root {
	--primary-color-100: rgb(147, 74, 230);

	--background-color-10: #ffffff;
	--background-color-20: #e4e4e4;
	--background-color-30: #b4b4b4;
	--background-color-40: #525252;

	--text-color: black;
	--alternative-text-color: white;
	--text-color-light: rgb(97, 97, 97);
}

